<!DOCTYPE html>
<html>
<head>
</head>

<body>
    <div class="mail-container">
        <p>{{ description }}</p>
        <p><a href="{{ url('apto_base_infrastructure_aptobase_frontend_index') }}{{ link }}">{{ url('apto_base_infrastructure_aptobase_frontend_index') }}{{ link }}</a></p>
    </div>
</body>
</html>
