<!DOCTYPE html>
<html>
<head>
    {% include '@RequestForm/mail/partials/styles.html.twig' %}
    <title>{{ contentSnippets.customer.title[locale]|default('') }}</title>
</head>
<body>
<p>
    {% if customer.name %}
        {% if customer.gender %}
            {% if customer.gender == 'm' %}
                {{ contentSnippets.customer.dearMister[locale]|default('') }}  {{ customer.name }},
            {% elseif customer.gender == 'f' %}
                {{ contentSnippets.customer.dearMisses[locale]|default('') }}  {{ customer.name }},
            {% else %}
                {{ contentSnippets.customer.dear[locale]|default('') }}  {{ customer.name }},
            {% endif %}
        {% else %}
            Sehr geehrte/r {{ customer.name }},
        {% endif %}
    {% else %}
        Guten Tag,
    {% endif %}
</p>
<div>
    {{ contentSnippets.customer.WeHaveReceivedYourConfiguration[locale]|default('') | raw }}
</div>

<p>
    <strong>{{ contentSnippets.customer.orderNumber[locale]|default('') }}</strong> {{ randomNumber }}
</p>
<p>
    <strong>{{ contentSnippets.customer.priceText[locale]|default('') }}</strong> {{ quantity > 1 ? quantity ~ ' * ' : '' }}{{ prices.sum.price.formatted }}
</p>
<p>
    {{ contentSnippets.customer.configurationLinkPrefix[locale]|default('') }}
    <a href="{{ url('apto_base_infrastructure_aptobase_frontend_index') }}#/configuration/basket/{{ configurationId }}">
        {{ contentSnippets.customer.configurationLink[locale]|default('') }}
    </a>
</p>

<div>
    {{ contentSnippets.customer.YoursSincerely[locale]|default('') | raw }}
</div>
</body>
</html>
