<div class="container">
    <table class="consignor-container">
        <tr>
            <td>
                <small class="consignor">{{ contentSnippets.company.name[locale]|default('') }}
                    &#9899; {{ contentSnippets.company.street[locale]|default('') }}
                    &#9899; {{ contentSnippets.company.zip[locale]|default('') }} {{ contentSnippets.company.city[locale]|default('') }}</small>
            </td>
        </tr>
    </table>

    <table class="customer-address">
        <tr>
            <td>
                <p>
                    {{ customer.company }}<br>
                    {{ customer.name }}<br>
                    {{ customer.street }} <br>
                    {{ customer.zipCode }} {{ customer.city }}
                </p>
            </td>
        </tr>
    </table>

    <table class="title-table">
        <tr>
            <td nowrap class="remove-padding" align="left">
                <table class="table-no-spacing" style="margin-left: -5px">
                    <tr>
                        <td style="margin-left: -5px">
                            <h3 class="head-line">{{contentSnippets.body.ourOffer[locale]|default('')}}</h3>
                        </td>
                    </tr>
                </table>
            </td>
            <td nowrap class="remove-padding" align="right">
                <table class="table-no-spacing title-info right">
                    <tr>
                        <td class="order-number">
                            {{randomNumber}}
                        </td>
                        <td class="order-date">{{ "now"|date("d.m.Y") }}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <div>
        <p class="introduction">
            {% if customer.gender == 'm' %}
                {{contentSnippets.body.salutationM[locale]|default('')}} {{ customer.name }},
            {% elseif customer.gender == 'f' %}
                {{contentSnippets.body.salutationW[locale]|default('')}} {{ customer.name }},
            {% else %}
                {{contentSnippets.body.salutationD[locale]|default('')}} {{ customer.name }},
            {% endif %}
            <br><br>

            {% if contentSnippets.body.coverLetter1[locale]|default('') %}
                {{contentSnippets.body.coverLetter1[locale]|default('')}}<br><br>
            {% endif %}
            {% if contentSnippets.body.coverLetter2[locale]|default('') %}
                {{contentSnippets.body.coverLetter2[locale]|default('')}}<br><br>
            {% endif %}
            {% if products %}
                <b>{{ products }}</b><br>
            {% endif %}
        </p>
    </div>

    {% if seperatePrioConfiguration == true %}
        <table class="order-table table-no-spacing table-prio">
            <tbody>
            <tr>
                <td class="title-element">

                </td>
                <td class="title-performance">
                    {{contentSnippets.body.performance[locale]|default('')}}
                </td>
                <td class="title-price">
                    {{contentSnippets.body.price[locale]|default('')}}
                </td>
            </tr>
            {% for key in prioConfiguration|keys %}
                <tr class="order-item">
                    <td class="order-item-name">
                        <b> {{ prioConfiguration[key].sectionName[locale]|default('') }}</b> <br>
                        {{ prioConfiguration[key].name[locale]|default('') }}
                        {% for sections in elementProperties %}
                            {% for section in sections %}
                                {% if section.elementId == prioConfiguration[key].elementId %}
                                    {% for property in section.values %}
                                        <br>{{ property }}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </td>
                    <td class="order-item-description">
                        {{ prioConfiguration[key].description[locale]|default('') | raw }}
                    </td>
                    <td class="order-item-price">
                        {{ prioConfiguration[key].price }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <table>
            <tr>
                <td>
                    <p class="between-offers">
                        {{contentSnippets.body.betweenOffers[locale]|default('')}}
                        <br>
                    </p>
                </td>
            </tr>
        </table>
    {% endif %}

    <table class="order-table table-no-spacing">
        <tbody>
        <tr>
            <td class="title-element">

            </td>
            <td class="title-performance">
                {{contentSnippets.body.performance[locale]|default('')}}
            </td>
            <td class="title-price">
                {{contentSnippets.body.price[locale]|default('')}}
            </td>
        </tr>
        {% for key in configuration|keys %}
            <tr class="order-item">
                <td class="order-item-name">
                    <b> {{ configuration[key].sectionName[locale]|default('') }}</b> <br>
                    {{ configuration[key].name[locale]|default('') }}
                    {% for sections in elementProperties %}
                        {% for section in sections %}
                            {% if section.elementId == configuration[key].elementId %}
                                {% for property in section.values %}
                                    <br>{{ property }}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </td>
                <td class="order-item-description">
                    {{ configuration[key].description[locale]|default('') | raw }}
                </td>
                <td class="order-item-price">
                    {{ configuration[key].price }}
                </td>
            </tr>
        {% endfor %}
        <tr class="order-item">
            <td class="order-item-name">
            </td>
            <td class="order-item-description">
                {% if customerGroup.showGross == false %}
                    {{ contentSnippets.tax.withoutTax[locale]|default('') }}
                {% else %}
                    {{ contentSnippets.tax.withTax[locale]|default('') }}
                {% endif %}
            </td>
            <td class="order-item-price">
                {{ sumPrices.price.formatted }}
            </td>
        </tr>
        </tbody>
    </table>

    <div>
        <!-- terms and conditions -->
        <small>
            {% if contentSnippets.body.texInfo[locale]|default('') %}
                {{contentSnippets.body.texInfo[locale]|default('')}}<br><br>
            {% endif %}
            {{contentSnippets.body.termsAndConditions1[locale]|default('')}} <a href="{{contentSnippets.body.termsAndConditionsLink[locale]|default('')}}">{{contentSnippets.body.termsAndConditionsLinkText[locale]|default('')}}</a> {{contentSnippets.body.termsAndConditions2[locale]|default('')}}
            <br>
            <br>
        </small>

        <!-- additional information -->
        <p class="info-text">
            {% if contentSnippets.body.quotationInfo[locale]|default('') %}
                {{contentSnippets.body.quotationInfo[locale]|default('')}}<br>
            {% endif %}
            {% if contentSnippets.body.briefingInfo[locale]|default('') %}
                {{contentSnippets.body.briefingInfo[locale]|default('')}}<br><br>
            {% endif %}
        </p>
    </div>

    <div>
        <!-- payment information -->
        {% if contentSnippets.body.paymentTitle[locale]|default('') %}
            <strong class="payment-title">{{contentSnippets.body.paymentTitle[locale]|default('')}}</strong>
            <br><br>
        {% endif %}
        <p class="payment-text">
            {% if contentSnippets.body.paymentPlan[locale]|default('') %}
                {{contentSnippets.body.paymentPlan[locale]|default('')}}<br><br>
            {% endif %}
            {% if contentSnippets.body.payment1[locale]|default('') %}
                {{contentSnippets.body.payment1[locale]|default('')}}<br><br>
            {% endif %}
            {% if contentSnippets.body.payment2[locale]|default('') %}
                {{contentSnippets.body.payment2[locale]|default('')}}<br><br>
            {% endif %}
            {% if contentSnippets.body.payment3[locale]|default('') %}
                {{contentSnippets.body.payment3[locale]|default('')}}<br><br>
            {% endif %}
        </p>
    </div>

    <div>
        <!-- signature -->
        <p>
            {{contentSnippets.body.yoursSincerely[locale]|default('')}}<br>

            {% if contentSnippets.body.signature[locale]|default('') %}
                {{ contentSnippets.body.signature[locale]|default('') }}<br><br>
            {% endif %}

            {{contentSnippets.body.signatureText[locale]|default('')}}
        </p>
    </div>
</div>
