<footer>
    <table class="footer-table">
        <tr>
            {% if contentSnippets.footer.html[locale]|default('') %}
                <td>
                    {{ contentSnippets.footer.html[locale]|default('') | raw }}
                </td>
            {% else %}
                <td nowrap>
                    <th  align="left">
                        <table class="table-no-spacing">
                            <tr>
                                <td class="splitter">{{contentSnippets.footer.titleAddress[locale]|default('')}}</td>
                                <td class="text-left">{{contentSnippets.company.street[locale]|default('')}}</td>
                            </tr>
                            <tr>
                                <td class="splitter"></td>
                                <td class="text-left">{{contentSnippets.company.zip[locale]|default('')}} {{contentSnippets.footer.city[locale]|default('')}}</td>
                            </tr>
                            <tr>
                                <td class="splitter hide-text">.</td>
                                <td></td>
                            </tr>
                        </table>
                    </th>
                    <th align="right">
                        <table class="table-no-spacing right">
                            <tr>
                                <td class="splitter">{{contentSnippets.footer.titlePhone[locale]|default('')}}</td>
                                <td class="text-left">{{contentSnippets.company.phone[locale]|default('')}} </td>
                            </tr>
                            <tr>
                                <td class="splitter">{{contentSnippets.footer.titleMail[locale]|default('')}}</td>
                                <td class="text-left"><a class="footer-link" href="mailto:{{contentSnippets.company.mail[locale]|default('')}}">{{contentSnippets.company.mail[locale]|default('')}}</a></td>
                            </tr>
                            <tr>
                                <td class="splitter">{{contentSnippets.footer.titleInternet[locale]|default('')}}</td>
                                <td class="text-left"><a class="footer-link" href="{{contentSnippets.company.websiteLink[locale]|default('')}}">{{contentSnippets.company.website[locale]|default('')}}</a></td>
                            </tr>
                        </table>
                    </th>
                </td>
            {% endif %}
        </tr>
    </table>
</footer>

